{% extends 'home/base.html' %}
{% load static %}

{% block title %}Env Template{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center bg-green-600 text-white py-4 mb-6 text-2xl font-semibold rounded-md">Rule Form</h1>

    <!-- Form Section -->
    <div class="bg-white shadow-lg rounded-md mb-4 p-4">
        <div>
            <h3 class="text-xl font-semibold text-gray-700">Add New Rule</h3>
        </div>
        <div class="mt-4">
            <!-- Display messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} bg-yellow-100 p-2 rounded-md mb-2">
                        <p class="text-yellow-800">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="space-y-4">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                </div>
                <button type="submit" class="bg-green-600 text-white py-2 px-6 rounded-md mt-4 hover:bg-blue-700 transition duration-300">
                    Save
                </button>
            </form>
        </div>
    </div>
    
    <!-- Existing Environment Variables -->
  
</div>
<br>

<div class="text-center bg-gray-100 p-4 rounded-md "><p><a href="{% url 'home:index' %}" class="hover:text-blue-500">Back to Home</a></p></div>

{% endblock %}
