{% extends 'home/base.html' %}
 
{% block title %}Home Page{% endblock %}
 
{% block content %}
<main class="container mx-auto mt-10 px-4">
    <!-- Welcome Section -->
    <h1 class="text-center text-3xl font-semibold text-green-500">Welcome to the Home Page</h1>
    <p class="text-center text-lg text-gray-500">Explore our collection alerts and sensors data!</p>
    
    <!-- Tools Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">

       
        
        <!-- RAG Chatbot -->
        <div class="card bg-blue-50 rounded-lg shadow-lg p-4">
            <h5 class="text-xl text-center text-teal-600">
               
            </h5>
            <p class="text-center text-gray-600">Create your own rules .</p>
        </div>
 
      
    </div>
</main>
{% endblock %}
 